.feedback
	background-color: #f2f2f2
.flex_feedback
	display: flex
	justify-content: space-between
.feedback form
	padding: 10px
.feedback .inputs
	display: flex
	flex-direction: colums
	width: 30%
	p
	padding: 10px 10px
	font-size: 16px
.feedback	input[type="text"], input[type="email"]
	margin: 10px 0
	padding: 10px
	width: 92%	
	border: 0
	border-bottom: 1px solid $input_border_color
	background: none
	outline: none
	font-size: $text_size_input

.feedback p	input[type="text"]
	width: 30%

.feedback .maps
	margin: 50px 0
	width: 60%
	
.overlay 
	background: transparent
	position: relative
	width: 100%
	height: 470px
	top: 470px
	margin-top: -470px

.feedback textarea
	width: 90%
	padding: 5px 10px
	resize: none
	outline-color: $primary-color
	border-color: $input_border_color
	font-family: $font_primary
	font-size: $text_size_input

.feedback input:focus
	border-bottom: 1px solid $primary-color

.feedback input[type="submit"]
	background-color: $primary-color
	font-family: $font_primary
	border: none
	display: block
	width: 150px
	color: $background_pink
	height: 40px
	border-radius: 40px
	outline: none
	font-size: 16px
	transition: all 0.2s ease-in-out

.feedback input[type="submit"]:hover
	border: 0px solid $color_a_hover
	box-shadow: 0 0 4px 4px $color_a_hover
	
	background-color: $background_pink
	color: $primary-color

.feedback form input[type="submit"]
	margin: 10px auto

.feedback form p 
	font-size: 20px
	font-family: $font_primary
	color: $primary-color
