header
  font-family: $font_primary
  background-color: $background_pink
  a
    color: $background_pink
    &:hover
      color: #50382f
  form
    padding: 0px

.header_top
  color: $background_pink
  background-color: $pink_color
  padding: 7px 0px
  letter-spacing: 0.1px
  margin-bottom: 6px
  @media(max-width: 960px)
    margin: 0 auto
  a
      color: $background_pink
      text-decoration: none
      &:hover
        color: #50382f
  .wrap
    display: flex
    justify-content: space-between
    .header_top_old_site
      margin-left: auto
      a
        color: #50382f
    .header_top_eng
      @media(max-width: 960px)
        margin-right: 70px

.header_right_block
  display: flex
  align-items: center
  justify-content: flex-end

.lang_block
  div
    a 
      margin: 0 0 0 3px
    &:first-of-type
      a 
        margin-left: 15px


.inline, .lang_block, .del
  display: inline-block
.del
  @media(max-width: 960px)
    display: none 
.header_top_info
  @media(max-width: 640px)
    display: none 

.header_container
  display: flex
  justify-content: space-between
  align-items: center
  padding: 5px 0 1px 0
  .logo
    img
      height: 80px

.header_contact
  width: 400px

.header-fixed
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 5
  
.search
  position: relative
  margin-left: 5px
  input
    padding: 10px 30px 10px 0
    border: none
    background: none
    outline: none
    width: 100%
    height: 30px
    font-size: 13px
  button
    background: none
    border: none
    display: inline-block
    width: 15px
    height: 15px
    position: absolute
    top: 8px
    right: 5px
    background: url(../img/search.svg) 0 0 no-repeat
    background-size: cover

.search_form 
  border-bottom: 1px solid $input_border_color
  width: 200px
  @media(max-width: 620px)
    display: none

.search_form:focus 
  border-bottom: 1px solid $primary-color 
  background: #f2f2f2
  .submit
    position: relative
    top: 7px
    border-radius: 25px
    cursor: pointer
    z-index: 1
    opacity: 0
    width: 37px
    height: 33px
    border: none
    margin: -33px 0 0 -55px
    &:hover
      opacity: 0.8

header .sprites
  padding: 0
  ul
    padding-left: 30px

header
  .header_social
    li
      list-style: none
      display: inline-block
    a
      display: inline-block
      opacity: 0.5
      background-size: 90%
      width: 33px
      height: 33px
      @media(max-width: 960px)
        width: 30px
        height: 30px
  .social_youtube
    background: url(../img/youtube.svg) 0 0 no-repeat
  .social_insta
    background: url(../img/instagram.svg) 0 0 no-repeat
  .social_twitter
    background: url(../img/twitter.svg) 0 0 no-repeat
  .social_fb
    background: url(../img/facebook.svg) 0 0 no-repeat
  .header_social a:hover
    opacity: 1
.serch_social_mob
  display: none
  @media(max-width: 430px)
    display: block
    padding: 5px
    .search
      display: flex
      margin: 0 auto
      align-items: center