.header_top
  color: #d6d6d6
  background-color: $background_footer

.header_top .wrap 
  display: flex
  justify-content: space-between

.header_right_block
  display: flex
  align-items: center

.header_top 
  padding: 5px 0px

.lang_block a 
  margin: 0 0 0 10px
  text-transform: uppercase

header
  background-color: $background_pink

.inline, .lang_block
  display: inline-block

.header_top a
  color: #d6d6d6
  text-decoration: none
.header_top a:hover
  color: $color_a_hover  

header a
  color: $background_pink

header a:hover
  color: $color_a_hover


header form
  padding: 0px

.header_container
  display: flex
  justify-content: space-between
  align-items: center;
  padding: 5px 0 0 0

.header_contact
  width: 400px

.header-fixed
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 5
  
.search
  display: flex
  justify-content: center
  margin-left: 30px
  .input
    padding: 10px
    border: none
    
    background: none
    outline: none
    width: 80%
    height: 30px

.search_btn
  height: 29px
  width: 30px
  display: flex
  align-items: center
  justify-content: center
  

.search
  .input:focus
    
.search_form 
  border-bottom: 1px solid $input_border_color
.search_form:focus 
  border-bottom: 1px solid $primary-color 
  background: #f2f2f2
  .submit
    position: relative
    top: 7px
    border-radius: 25px
    cursor: pointer
    z-index: 1
    opacity: 0
    width: 37px
    height: 33px
    border: none
    margin: -33px 0 0 -55px
    &:hover
      opacity: 0.8



.sprites
  margin-left: 20px

header
  .header_social
    li
      list-style: none
      display: inline-block
    a
      display: inline-block
      opacity: 0.5
      background-size: cover
      width: 32px
      height: 32px
  .social_youtube
    background: url(../img/youtube.svg) 0 0 no-repeat
  .social_insta
    background: url(../img/instagram.svg) 0 0 no-repeat
  .social_twitter
    background: url(../img/twitter.svg) 0 0 no-repeat
  .social_fb
    background: url(../img/facebook.svg) 0 0 no-repeat
  .header_social a:hover
    opacity: 1

// MAIN MENU//

