$background_pink: #FFF7ED
$background_footer: #917E68
$color_hover: #FFF7ED
$primary-color: #917E68
$color_nav: #917E68
$font_primary: Arial, sans-serif
$input_border_color: #D1A999
$font_size_a: 16px
$color_a_hover: #88aae0
$background_color_section_info: #FFF7ED
$text_size_input: 14px

.wrap
	width: 960px
	margin: 0 auto

.section_header
	font-size: 22px
	color: $color_nav
	text-align: center
	text-transform: uppercase

.news_head--link
	display: inline-block
	width: 100%
	margin: 0 auto
	font-size: 20px
	text-align: center	
	text-decoration: none
	color: $color_nav
	&:hover
		color: $color_a_hover

.active_nav
	background: #D0A898
 	color: $background_pink

.flex_conteiner--sp_b
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.pic_substrate
	position: absolute
	bottom: 0
	width: 100%
	background: rgba(256,256,256,.5)
	p
		text-align: center