@import "_header.sass", "_nav.sass", "_min_footer.sass"

.all_news
	width: 960px
	margin: 0 auto
	color: $color_nav
	&--item
		width: 30%
	&--image
		width: 90%
		height: 150px
		margin: 10px auto
		background: url(../img/news_1.jpg) 50% 50% no-repeat
	p
		text-align: center
		margin-bottom: 45px