// CONTACT_CONTAINER //

.contact_container_one
  background-color: #fff
  display: flex
  justify-content: space-between
  padding: 5px 0 0 0

h5
  font-family: $font_primary
  font-size: 18px
  color: #940007
  text-align: center

.contact_container_one p
  font-family: $font_primary
  color: $primary-color
  font-size: 14px
  width: 450px

.contact_location p
  font-size: 14px
  text-indent: 30px
  color: $primary-color
  font-family: $font_primary

.contact_container_two
  background-color: #fff
  display: flex
  justify-content: space-between
  padding: 5px 0 0 0

.contact_container_two li
  font-family: $font_primary
  color: $primary-color
  font-size: 14px
  width: 100%

.contact_container_two i
  color: #41587D

.contact_container_two p
  color: #940007
// END CONTACT_INFO //

// FEEDBACK//
.feedback_contact
  background-color: #fff

  .flex_feedback
  display: flex
  justify-content: space-between
form
  padding: 10px

.inputs
  display: flex
  flex-direction: colums
  width: 30%
  p
  padding: 10px 10px
  font-size: 16px

.feedback_contact
  background-color: #f2f2f2

.feedback_contact input[type="text"], input[type="email"]
  margin: 10px 0
  padding: 10px
  width: 90%  
  border: 0
  border-bottom: 1px solid $input_border_color
  background: none
  outline: none
  font-size: $text_size_input

.feedback_contact p input[type="text"]
  width: 30%

.map 
  width: 100%
.feedback_contact .maps
  width: 60%
.feedback_contact textarea
  padding: 5px 10px
  resize: none
  outline-color: $primary-color
  border-color: $input_border_color
  font-family: $font_primary
  font-size: $text_size_input
  width: 90%

.feedback_contact input:focus
  border-bottom: 1px solid $primary-color

.feedback_contact input[type="submit"]
  background-color: $primary-color
  font-family: $font_primary
  border: none
  display: inline-block
  width: 40%
  color: $background_pink
  height: 40px
  border-radius: 40px
  outline: none
  font-size: 16px
  transition: all 0.2s ease-in-out

.feedback_contact input[type="submit"]:hover
  border: 0px solid $color_a_hover
  box-shadow: 0 0 4px 4px $color_a_hover
  
  background-color: $background_pink
  color: $primary-color

.feedback_contact form input[type="submit"]
  margin: 10px 30%

.feedback_contact form p 
  font-size: 20px
  font-family: $font_primary
  color: $primary-color
