footer
  padding: 15px 0 5px 0
  background: $background_footer

footer img
  display: inline-block
  width: 100px
  height: 53px
footer li
  display: inline-block
  list-style: none
.social
  float: right
  &:after
    content: ''
    clear: both
  @media(max-width: 960px)
    margin 0 auto
    float left
footer
  .social a
    display: inline-block
    opacity: 0.5
    background-size: cover
    width: 32px
    height: 32px
  .social_youtube
    background: url(../img/youtube.svg) 0 0 no-repeat
  .social_insta
    background: url(../img/instagram.svg) 0 0 no-repeat
  .social_twitter
    background: url(../img/twitter.svg) 0 0 no-repeat
  .social_fb
    background: url(../img/facebook.svg) 0 0 no-repeat

  .social a:hover
    opacity: 1
.flexbox_footer_bottom
  display: flex
  justify-content: space-between
  width: 100%
  @media(max-width: 960px)
   display: none
.footer_left
  display: flex
  flex-direction: column
  @media(max-width: 960px)
    width: 65%
.footer_right
  width: 100%
  margin-top: 10px
.footer_contact
  width: 100%
  text-align: right
.copyright
  display: block
.footer_old_site, .e_archive
	text-align: right
.sponsors	a, .copyright a, .footer_old_site a, .footer_contact a, .e_archive a, .last a
  text-decoration: none
  color: $color_hover
  font-size: $font_size_a

.copyright , .footer_old_site , .footer_contact, .e_archive, .sponsors .last  a
	a:hover 
  	color: $color_a_hover
#scrolltotop
  position: fixed
  bottom: 50px
  right: 50px
  display: none
.imgop
  width: 40px
  height: 40px
  opacity: 0.5
.footer_partners
  margin-top: 0px
  width: 92%
  height: 30px
  line-height: 25px
  padding-left: 0px
  background: none
  direction: left
.part a
  padding: 30px
  border-right: 1px solid #ffffff
  color: #ffffff
  font-size: 22px
  font-family: arial
  text-decoration: none
  &:last-child
    border-right: none

.part a:hover 
    color: $color_a_hover

.e_archive
  width: 100%
  @media(max-width: 960px)
    flex-direction: column
.last
  display: none
  @media(max-width: 960px)
    display: block
    text-align: center
    width: 80%
    margin: 0 auto
.last a:hover
  @media(max-width: 960px)
    color: $color_a_hover  